* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #05315E;
}

body {
    background-color: #F3F4F6;
}

.tabs {
    max-width: 1200px;
    margin: 120px auto 0;
}

.container {
    padding: 50px 25px;
    background-color: #fff;
}

.tabs__menu {
    margin: 0;
    padding: 15px 20px 15px 0;
}

.tabs__item {
    list-style: none;
    display: inline-block;
}

.tabs__anchor {
    background-color: #E3E8EC;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 700;
}

.tabs__content {
    display: none;
}

.tabs__content-active {
    display: block;
}

.tabs__anchor-active {
    background-color: #fff;
}